[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[user]
	name = eve0415
	email = 40632436+eve0415@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBYQaToiVQjX7zrL0+IbkoqqpvQSX95ZG/Z3jSFKfQS4

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[core]
	ignorecase = false

[fetch]
	prune = true
	writeCommitGraph = true

[rebase]
	updateRefs = true

[rerere]
	enabled = true

[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager

[credential "https://dev.azure.com"]
	useHttpPath = true
